<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestVPN</title>

    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments.js"></script>
</head>
<body>
<script>
    const payments = new cp.Widget({
        language: "ru-RU",
        email: "",
        applePaySupport: false,
        googlePaySupport: false,
        yandexPaySupport: true,
        tinkoffInstallmentSupport: true,
    });

    payments.pay("charge", {
        publicId: "pk_4ac90c8b4be575f70f324288f093d",
        description: "TestVPN подписка",
        amount: 200,
        currency: "RUB",
        invoiceId: "123",
        accountId: "123",
        email: "",
        skin: "modern",
        requireEmail: false,
    }).then(function (widgetResult) {
        console.log('result', widgetResult);
    }).catch(function (error) {
        console.log('error', error);
    });

</script>
</body>
</html>