DJANGO_DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
#DATABASE_URL=postgres://postgres:postgres@db:5432/postgres  # when using PostgreSQL via docker-compose
TELEGRAM_TOKEN=1725447442:AATuNIAicSPdePxxTHdbO1X_4hfAnONOyiA
CLOUDPAYMENTS_PUBLIC_KEY=pk_***************
CLOUDPAYMENTS_SECRET_KEY=**********
URL=https://example.com